body{
	background-color: #e8e8e8;
}

ul{
	list-style-type: none;
}

ul li a{
	color: #145d77;
}

ul li a:hover{
	color: #44afd6;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: right;
}

.remove-post-button{
	margin-top: .5vw;
	margin-bottom: 1vw;
}

#main-list{
	margin-top: 5vw;
}

.item{
	margin-top: 4vw;
	margin-bottom: 4vw;
}

.post-text{
	padding: 1.5vw;
}

a:hover{
	text-decoration: none;
}
