{% extends 'base.html.twig' %}
{% block body %}
{% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<div style="margin-top: 2vw;" class="container ">
<div class="row">
<form action="{{ path('login') }}" method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="_username" class="form-control" id="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
<div style="margin-top: 2vw;" class="row">
<small>New User? Sign up <a href="{{ path('register_page') }}">here</a></small>
</div>
</div>
{% endblock %}
