{% extends 'base.html.twig' %}
{% block body %}
<div id="main-list" class="container">
{% for post in posts %}
<div id="list-post" class="row">
<a href="{{ path('show_post', {'id': post.id}) }}">
	<span id="list-post-title">{{ post.title }}</span>
</a>
</div>
<div class="row">
<small>Posted by {{ post.user }}</small>
</div>
{% endfor %}
</div>
{% endblock %}
