{% extends 'base.html.twig' %}
{% block body %}
<div class="container item">
<div class="row align-items-center">
<div class="col">
<ul class="list-group">
{% for post in posts %}
<li class="list-group-item">
<a href="{{ path('show_post', {'id': post.id}) }}">
	<span id="list-post-title">{{ post.title }}</span>
</a>
<small><div style="text-align:right;">Posted by <a href="{{ path('profile_page', {"username": post.user}) }}">{{ post.user }}</a></div></small>
</li>
{% endfor %}
</ul>
</div>
</div>
</div>
{% endblock %}
